struct descriptor_registry_${TYPE} {
	void* internal = 0L;
	struct descriptor_registry_ctx* ctx = 0L;
	const char* name = 0L;
};

extern int descriptor_registry_${TYPE}_create ( struct descriptor_registry_${TYPE}* registry, const char* name, struct descriptor_registry_ctx* registry_ctx );

extern void descriptor_registry_${TYPE}_destroy ( struct descriptor_registry_${TYPE}* registry );

extern size_t descriptor_registry_${TYPE}_add_var ( struct descriptor_registry_${TYPE}* registry, ${TYPE} variable);

struct var_collection_${TYPE} {
	void* internal = 0L;
};

extern int var_collection_${TYPE}_create ( struct var_collection_${TYPE}* collection, struct descriptor_registry_${TYPE}* registry);

extern int var_collection_${TYPE}_create_global ( struct var_collection_${TYPE}* collection, struct descriptor_registry_${TYPE}* registry);

extern void var_collection_${TYPE}_destroy ( struct var_collection_${TYPE}* collection);

extern void var_collection_${TYPE}_for_each ( struct var_collection_${TYPE}* collection, void (*func)( const void*, ${TYPE} ) );

extern void var_collection_${TYPE}_filter ( struct var_collection_${TYPE}* collection, int (*func)( ${TYPE} ) );

extern void var_collection_${TYPE}_concat ( struct var_collection_${TYPE}* target, struct var_collection_${TYPE}* left, struct var_collection_${TYPE}* right);

