module mo_registry_interface
	use, intrinsic :: iso_c_binding

	implicit none

	type, bind(C) :: descriptor_registry_ctx
		type(c_ptr) :: internal
	end type descriptor_registry_ctx

	interface
		subroutine create_context( this_ctx ) bind(c, name='descriptor_registry_context_create')
			import :: descriptor_registry_ctx
			import :: c_ptr
			type(descriptor_registry_ctx), pointer, intent(out) :: this_ctx
		end subroutine create_context

		subroutine destroy_context( this_ctx ) bind(c, name='descriptor_registry_context_destroy')
			import :: descriptor_registry_ctx
			import :: c_ptr
			type(descriptor_registry_ctx), pointer, intent(in) :: this_ctx
		end subroutine destroy_context
	end interface
end module mo_registry_interface

