#pragma once

#include <stddef.h>
#include <stdlib.h>
#include <stdint.h>

#ifdef __cplusplus
extern "C" {
#endif

struct var_descriptor {
	const char* name;
	int32_t jg;
	int32_t hgrid_id;
	int32_t vgrid_id;
	int32_t time_id;
};

struct descriptor_registry_ctx {
	void* internal;
};

extern int descriptor_registry_context_create( struct descriptor_registry_ctx* ctx );

extern void descriptor_registry_context_destroy( struct descriptor_registry_ctx* ctx );

